@import (reference) "~theme-styles";

.sdl-dita-delivery-breadcrumbs {
    padding: 32px 0 30px 0;

    ul {
        width: auto;
        height: auto;
        line-height: 30px;
        margin: 0;
        padding: 0 15px;

        li {
            color: @neutralColor4;
            display: inline-block;
            line-height: 30px;
            vertical-align: middle;
            a, a:visited, a:hover, a:active, a:link {
                text-decoration: inherit;
                color: inherit;
            }
            a:hover {
                color: @accentColor1;
            }
            .separator {
                .icon-arrow-right();
                color: @accentColor1;
                background-repeat: no-repeat;
                height: 27px;
                line-height: 27px;
                float: right;
                margin: 0 10px;
                padding-top: 3px;
            }
            .active, .home, .abstract {
                color: @neutralColor1;
            }
            .home {
                display: inline-block;
                padding-left: 30px;
                .icon-home();
                background-repeat: no-repeat;
                background-position: left 6px;
                height: inherit;
                width: inherit;
            }
        }
    }
}
