@import (reference) "~theme-styles";

.sdl-dita-delivery-navigation-menu {
    @rightMargin: 30px;
    @defaultWidth: 500px;

    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: @defaultWidth;
    left: @defaultWidth * -1;
    min-height: 100%;
    background-color: #fff;
    transition: left .3s ease-out;
    .sdl-dita-delivery-app.rtl & {
        transition: right .3s ease-out;
    }
    z-index: 12;

    &.open {
        display: block;
        max-width: ~"calc(100% - @{rightMargin})";
        left: 0;
    }
}
