@import (reference) "../../../theming/styles.less";

.sdl-dita-delivery-page {

    .page-content {
        padding: 10px;
        color: @neutralColor4;

        h1 {
            .header-h1();
        }
        h2 {
            .header-h2();
        }
        h3 {
            .header-h3();
        }
        p, div.section, div.p {
            .paragraph();
        }
        a {
            .anchor();
        }
        table {
            .table();
            th {
                .table-header();
            }
            tr, tr.row {
                .table-row();
            }
            td, td.entry {
                .table-cell();
            }
        }
        ul {
            .unordered-list();
        }
        ol, ol.steps {
            .ordered-list();
        }
        img {
            max-width: 100%;
        }
    }

}
