@import (reference) "~theme-styles";

.sdl-dita-delivery-searchbar {
    display: inline-block;
    background-color: @accentColor1;
    height: 150px;
    width: 100%;
    .background-search-bar();
    text-align: center;
    z-index: 995;

    .conditions-dialog-visible & {
        z-index: 1;
    }
    .input-area {
        display: flex;
        max-width: @screenXl;
        margin: 0 auto;
        padding: 5px 0;
        margin-top: 49px;
        border-bottom: 1px solid @neutralColor6;
        width: ~"calc(100% - 30px)";
        input {
            width: 100%;
            background-color: transparent;
            border-style: none;
            color: @neutralColor6;
            text-overflow: ellipsis;
            .header-font(400, 28px, 28px);
            height: 36px;
            padding-left: 15px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: @neutralColor6;
                opacity: 1;
            }
        }
        .search-button {
            cursor: pointer;
            color: @neutralColor6;
            .icon-search(28px);
            padding-right: 15px;
            padding-top: 3px;
        }
    }
}
