@import (reference) "../../../theming/styles.less";

.sdl-dita-delivery-searchbar {
    display: inline-block;
    background-color: @accentColor1;
    height: 150px;
    width: 100%;
    background-image: url("../images/search-bar-background.jpg");
}
