@import (reference) "~theme-styles";
.sdl-dita-delivery-toc {
    margin: 32px 0;

    .sdl-treeview > ul.root {
        padding: 12px 13px 21px 12px;
        background-color: @neutralColor6;
        border-radius: 4px;

        @media screen and (max-width: @screenSm) {
            background: none;
        }
    }
}
