@import (reference) "../../../theming/styles.less";
.sdl-dita-delivery-toc {
    margin: 10px 0;
    .sdl-treeview > ul.root,
    .sdl-dita-delivery-error-toc > div.sdl-dita-delivery-error-toc-content {
        padding: 16px 12px 16px 16px;
        background-color: @neutralColor6;
        border-radius: 4px;

        @media screen and (max-width: @screenSm) {
            background: none;
        }
    }
}
