/* Graphene overwrites for the TopBar Control */

@import (reference) "../../../theming/styles.less";

@topBarHeight: 50px;

.sdl-dita-delivery-topbar {
    width: 100%;
    height: @topBarHeight;
    background-color: @accentColor1;
    color: @neutralColor6;
    border-width: 0px;
    box-shadow: none;
    line-height: @topBarHeight;
    position: fixed;
    z-index: 999;

    .sdl-dita-delivery-nav-mask {
        background: @neutralColor1;
        display: none;
        height: 100vh;
        opacity: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1005;
    }

    header {
        display: table;
        max-width: @screenXl;
        margin: 0 auto;
        width: 100%;
        position: relative;
        border-spacing: 15px 0;

        > * {
            display: table-cell;
            vertical-align: middle;
        }

        .sdl-dita-delivery-topbar-expand-nav {
            width: 24px;
            display: none;
            span {
                margin: 0 15px;
                .icon-hamburger(21px);
            }
        }

        .sdl-dita-delivery-topbar-logo {
            .icon-company-logo();
            background-size: 46px 21px;
            position: relative;
            top: -4px;
            background-position: left center;
            a {
                height: 100%;
                width: 100%;
                display: inline-block;
            }
        }

        .sdl-dita-delivery-topbar-language {
            text-align: right;
            span {
                .icon-language(21px);
                margin-right: 15px;
            }
        }

        .sdl-dita-delivery-topbar-user{
            width: 24px;
            span {
                .icon-user(21px);
            }
        }
    }
}

@media screen and (max-width: @screenSm) {
    .sdl-dita-delivery-app-nav-open {
        overflow: hidden;

        .sdl-dita-delivery-topbar {
            .sdl-dita-delivery-nav-mask {
                opacity: .5;
            }
        }
    }

    .sdl-dita-delivery-topbar {
        header {
            border-spacing: 0;

            .sdl-dita-delivery-topbar-expand-nav {
                display: table-cell;
                &:hover {
                    cursor: pointer;
                }
            }

            .sdl-dita-delivery-topbar-logo {
                width: 100%;
            }

            .sdl-dita-delivery-topbar-language label {
                display: none;
            }

            .sdl-dita-delivery-topbar-language {
                width: 40px;
            }

            .sdl-dita-delivery-topbar-user {
                padding-right: 15px;
            }
        }
    }
}
