/* Graphene overwrites for the TopBar Control */

@import (reference) "../../../theming/styles.less";
@topBarHeight: 50px;
.sdl-dita-delivery-topbar {
    width: 100%;
    height: @topBarHeight;
    background-color: @accentColor1;
    color: @neutralColor6;
    border-width: 0px;
    box-shadow: none;
    line-height: @topBarHeight;
    position: fixed;
    z-index: 999;
    header {
        max-width: @screenXl;
        margin: 0 auto;
        width: 100%;
        position: relative;
        border-spacing: 15px 0;
        /* New layout */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        /* New layout */
        > * {
            flex-grow: 0;
            margin-right: 15px;
            &:first-child {
                margin-left: 15px;
            }
            span {
                margin-right: 5px;
            }
        }
        .spacer {
            flex-grow: 1;
        }
        .sdl-dita-delivery-topbar-logo {
            .icon-company-logo();
            background-size: 46px 21px;
            position: relative;
            top: -4px;
            background-position: left center;
            a {
                height: 100%;
                width: 100%;
                display: inline-block;
            }
        }
        .sdl-dita-delivery-topbar-language {
            text-align: right;
            span {
                .icon-language(21px);
            }
        }
        .sdl-dita-delivery-topbar-user {
            width: 24px;
            span {
                .icon-user(21px);
            }
        }
    }
}

@media screen and (max-width: @screenSm) {
    .sdl-dita-delivery-topbar {
        header {
            .sdl-dita-delivery-topbar-logo {
                margin-left: 0;
            }
            .sdl-dita-delivery-topbar-language label {
                display: none;
            }
        }
    }
}
