.sdl-dita-delivery-version-selector {
    line-height: 27px;
    label {
        vertical-align: top;
        margin: 0 20px;
    }
    .sdl-dropdownlist {
        display: inline-block;
        ul {
            margin-top: 50px;
        }
    }
}
