@model TestEntityModel1
<div id="C548528" class="entity @Model.MvcData.HtmlClasses" @Html.DxaEntityMarkup()>
    <h5>Rendered @Model with Entity View "Test:TestEntityCSSFill"</h5>
    <p>
        Classes = @Model.MvcData.HtmlClasses
    </p>
</div>
