@model Tsi1856TestEntity
<div class="entity" @Html.DxaEntityMarkup()>
    <h3>Rendered @Model with Entity View "Test:TSI1856Test"</h3>

    <h4>Following properties are mapped to fields that have the same name on the CM side but each comes from a different schema</h4>
    <div>Standard component meta: '@Model.TitleComponent'</div>
    <div>Embedded component metadata: '@Model.TitleMeta'</div>
</div>
