@import (reference) "~theme-styles";

.sdl-dita-delivery-page {

    .page-content {
        padding: 0 15px 10px 15px;
        color: @neutralColor4;

        h1, h1.title, h1.topictitle1 {
            .header-h1();
        }
        h2, h2.title, h2.topictitle2 {
            .header-h2();
        }
        h3, h3.title, h3.sectiontitle {
            .header-h3();
        }
        p, div.section, div.p {
            .paragraph();
        }
        a {
            .anchor();
        }

        .tablenoborder {
            overflow-x: auto;
        }

        table {
            .table();
            th, th.entry, th.entry.cell-norowborder, th.entry.nocellnorowborder {
                .table-header();
            }
            tr, tr.row {
                .table-row();
            }
            td, td.entry {
                .table-cell();
                img {
                    max-width: inherit;
                }
            }
        }
        ul {
            .unordered-list();
        }
        ol, ol.steps {
            .ordered-list();
        }
        img {
            max-width: 100%;
        }
    }

}
