// ---------------------------------------------------------------------------------------------------------------------
// This file contains global LESS variables that can be used across the application when using fonts
// ---------------------------------------------------------------------------------------------------------------------

@fontFamily: "Myriad Pro";
@fontFamilyFallback: "Arial";
@fontFamilyPath: "fonts/MyriadPro-Regular.otf";
@fontSize: 14px;
// ---------------------------------------------------------------------------------------------------------------------
// This file contains global LESS variables that can be used across the application when using fonts
// ---------------------------------------------------------------------------------------------------------------------

@fontFamily: "Calibri";
@fontHeaderFamily: "Sommet Rounded";
@fontFamilyFallback: "Arial";
@fontSize: 14px;

.sdl-dita-delivery-header-font(@weight: 400, @size:20px, @height: 24px) {
    font-family: @fontHeaderFamily, @fontFamilyFallback, sans-serif;
    font-style: normal;
    font-weight: @weight;
    font-size: @size;
    line-height: @height;
}

.customFont() {
    /* Define a custom font
     * eg
     * font-family: 'Myriad Pro';
     * src: url('../../../theming/@{fontFamilyPath}');
     */
}
