// ---------------------------------------------------------------------------------------------------------------------
// This file contains global LESS mixins that can be used across the application when using icons
// ---------------------------------------------------------------------------------------------------------------------

@import (reference) "../../node_modules/sdl-icons/dist/icons-graphene.less";
@import (reference) "../../node_modules/sdl-icons/dist/icons-carbon-2.0.less";

.icon-sdl-logo() {
    .icon-sdl-white-logo();
    background-repeat: no-repeat;
    background-size: 98px 30px;
}

.icon-topic-16-color() {
    .icon-mmconnector-asset-file-16-color();
    background-repeat: no-repeat;
}
