# IDE
.vscode
.vs
.idea

# Node.js
node/
node_modules/

# Build output
dist/

#typings
typings/

# Specific files
test/configuration/Configuration.js
test/tests/components/*.js
test/tests/*.js
test/coverage/
