@import (reference) "~theme-styles";
.sdl-dita-delivery-search-results {
    position: relative;
    background-color: @neutralColor6;
    h1 {
        .header-font(300, @h1Size, 50px);
        padding-top: 15px;
        text-indent: 20px;
    }
    > * {
        max-width: @screenXl;
        margin: 0 auto;
    }
}
