@import (reference) "~theme-styles";
@import (reference) "../PublicationContent/PublicationContent.less";

.content-language-warning {
	margin-bottom: 15px;
	margin-left: @tocWidth + @defaultMargin + @defaultMargin;
    margin-right: @contentNavWidth + @defaultMargin + @defaultMargin;
    .rtl & {
	    margin-left: @contentNavWidth + @defaultMargin + @defaultMargin;
    	margin-right: @tocWidth + @defaultMargin + @defaultMargin;
    }
    padding: 5px 15px;
    border: 1px solid @neutralColor5;
    border-radius: 4px;
    background-color: #FCF8E3;
	color: @neutralColor4;
	p {
		.paragraph();
		font-size: @h3Size;
	    margin: 5px 0;
	    a {
	    	.anchor();
	    }
	}
}