<!DOCTYPE html>

<html lang="en">

<head>
    <title>SDL Documentation Error</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="shortcut icon" href="/system/assets/gui/assets/favicon.ico" />
    <link href="/system/assets/gui/assets/stylesheets/main.css?4fb2ffd7-2384-4928-8741-59d2ca17aa70" rel="stylesheet">
</head>


<body>
    <div id="main-view-target"></div>
    <script type="text/javascript">
		var errorInfo = { message: '@ViewData["statusMsg"]', statusCode: '@ViewData["statusCode"]' };
		window.SdlDitaDeliveryError = errorInfo;
    </script>
    <script type="text/javascript" src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@15.3.2/dist/react-dom-server.min.js"></script>
    <script type="text/javascript" src="/system/assets/gui/assets/vendor.bundle.js?4fb2ffd7-2384-4928-8741-59d2ca17aa70"></script>
    <script type="text/javascript" src="/system/assets/gui/assets/main.bundle.js?4fb2ffd7-2384-4928-8741-59d2ca17aa70"></script>
</body>

</html>
