<?xml version="1.0"?>
  <fiftyOne>

    <!--<detection> element controls where the data files used are provided. 
    If a Premium/Ultimate Data license key is present in a file with the extension .lic in the bin 
    folder, or provided in the FiftyOne.Foundation.Mobile.Detection.Constants.PremiumLicenceKey 
    constant the binaryFilePath attribute of the detection element must be provided and the worker
    process must have modify access to the file to enable automatic updates to be downloaded.
    
    enabled         Controls whether device detection is enabled. Defaults to true. (Optional)
    autoUpdate      When set to true enables automatic updating of device data when licence keys 
                    are provided. Defaults to true. (Optional)
    binaryFilePath  Path to the binary data file. (Optional - Lite / Mandatory - Premium / Enterprise)
    shareUsage      Set to true to share usage information with 51Degrees.mobi. Read the Usage Data FAQ 
                    to learn more. Defaults to True if not specified. (Optional)
    memoryMode      True if the data set should be loaded into memory. Detection performance will be
                    significantly faster at the expense of a longer startup time and increased memory 
                    usage. Defaults to False if not specified. (Optional)
    bandwidthMonitoringEnabled  When set to true enables bandwidth monitoring. Also requires the data 
                                set specified in the binaryFilePath attribute to support bandwidth
                                monitoring. Defaults to True if not specified. (Optional)
    featureDetectionEnabled     When set to true enables feature detection. Also requires the data set
                                specified in the binaryFilePath attribute to support feature detection.
                                Defaults to True if not specified. (Optional)
    -->

    <!-- IMPORTANT - Ensure this link is uncomment after purchasing Enhanced Device Data. -->
    <detection enabled="true" shareUsage="false" autoUpdate="true" binaryFilePath="~/App_Data/51Degrees.dat" />

  </fiftyOne>

