@using Sdl.Web.Mvc.Html
@model Sdl.Web.Modules.Ugc.Models.UgcCommentList
<div>
    <span>Showing @Model.Comments.Count comments</span>
    <div class="list-group">
        @foreach(var comment in Model.Comments)
        {
            <p>@comment.User.Name</p>
            <time class="meta small">@Html.DateDiff(comment.LastModifiedDate)</time>
            <p>@comment.Content</p>
        }
    </div>
</div>