@import (reference) "../../../theming/styles.less";

.customFont();

html, body, #main-view-target {
    height: 100%;
    margin: 0 auto;
    font-family: @fontFamily, @fontFamilyFallback;
    font-size: @fontSize;
}

.sdl-dita-delivery-app {
    display: flex;
    flex-flow: column;
    height: 100%;
    .sdl-dita-delivery-publication-content {
        position: relative;
        flex: 1 1 auto;
    }
}
