@import (reference) "../../../theming/styles.less";

/* Import fonts */
@font-face {
    .import-regular-font();
}
@font-face {
    .import-header-font();
}
@font-face {
    .import-icon-font();
}

html, body, #main-view-target {
    height: 100%;
    margin: 0 auto;
    font-family: @fontFamily, @fontFamilyFallback;
    font-size: @fontSize;
    color: @fontColor;
}

.sdl-dita-delivery-app {
    height: 100%;
}
