@import (reference) "../../../theming/styles.less";
@import (reference) "../../presentation/styles/TopBar.less";
@navBarHeight: 50px;
@searchBarHeight: 150px;
.sdl-dita-delivery-app {
    .sdl-dita-delivery-nav-mask {
        background: @neutralColor1;
        display: none;
        height: 100vh;
        opacity: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1005;
    }
    .sdl-dita-delivery-topbar-expand-nav {
        display: none;
        margin: 0 0 0 15px;
        span {
            .icon-hamburger(21px);
        }
        &:hover {
            cursor: pointer;
        }
    }
    .sdl-dita-delivery-topbar-expand-search {
        text-align: right;
        span {
            .icon-search(21px);
            margin-right: 15px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .sdl-dita-delivery-searchbar {
        position: fixed;
        top: @searchBarHeight * -1;
        @media screen and (min-width: (1+@screenSm)) {
            transition: top .3s ease-out;
        }
    }
    .sdl-dita-delivery-publication-content {
        top: @navBarHeight;
        transition: top .3s ease-out;
        height: ~"calc(100% - @{navBarHeight})";
        .sdl-dita-delivery-page {
            height: 100%;
            .sdl-dita-delivery-navigation-menu {
                height: 100%;
                nav.sdl-dita-delivery-toc {
                    /*Calc of parent height minus margins*/
                    /*  HACK: As a correct behaviour we should use max-height here,
                        but Chrome is not taking calc() values into account in this case*/
                    // max-height: ~"calc(100% - 64px)";
                    height: ~"calc(100% - 64px)";
                }
            }
            @media screen and (min-width: (1+@screenLg)) {
                nav.sdl-dita-delivery-content-navigation {
                    height: ~"calc(100% - 64px)";
                }
            }
        }
    }
    // Search panel is open
    &.search-open {
        .sdl-dita-delivery-searchbar {
            top: @navBarHeight;
        }
        .sdl-dita-delivery-topbar-expand-search {
            span {
                .icon-close(21px);
            }
        }
        &:not(.fixed-nav) {
            .sdl-dita-delivery-publication-content {
                @media screen and (min-width: (1+@screenSm)) {
                    top: @searchBarHeight + @navBarHeight;
                    height: ~"calc(100% - (@{searchBarHeight} + @{navBarHeight}))";
                }
            }
        }
    }
    &.fixed-nav {
        .sdl-dita-delivery-publication-content {
            .sdl-dita-delivery-page {
                .sdl-dita-delivery-navigation-menu {
                    nav.sdl-dita-delivery-toc {
                        /*  HACK: As a correct behaviour we should use max-height here,
                            but Chrome is not taking calc() values into account in this case*/
                        // max-height: ~"calc(100% - 64px - @{navBarHeight})";
                        height: ~"calc(100% - 64px - @{navBarHeight})";
                        .separator {
                            position: fixed;
                            top: @navBarHeight;
                            transition: top .3s ease-out;
                        }
                        @media screen and (min-width: (1+@screenSm)) {
                            position: fixed;
                            z-index: 999;
                            top: @navBarHeight;
                            transition: top .3s ease-out;
                        }
                    }
                }
                @media screen and (min-width: (1+@screenLg)) {
                    nav.sdl-dita-delivery-content-navigation {
                        position: fixed;
                        height: ~"calc(100% - 64px - @{navBarHeight})";
                        top: @navBarHeight;
                        transition: top .3s ease-out;
                    }
                }
            }
        }
    }
    &.fixed-nav {
        &.search-open {
            .sdl-dita-delivery-publication-content {
                .sdl-dita-delivery-page {
                    .sdl-dita-delivery-navigation-menu {
                        nav.sdl-dita-delivery-toc {
                            /*  HACK: As a correct behaviour we should use max-height here,
                                but Chrome is not taking calc() values into account in this case*/
                            // max-height: ~"calc(100% - 64px - (@{searchBarHeight} + @{navBarHeight}))";
                            height: ~"calc(100% - 64px - (@{searchBarHeight} + @{navBarHeight}))";
                            .separator {
                                top: @searchBarHeight + @navBarHeight;
                            }
                            @media screen and (min-width: (1+@screenSm)) {
                                top: @searchBarHeight + @navBarHeight;
                            }
                        }
                    }
                    @media screen and (min-width: (1+@screenLg)) {
                        nav.sdl-dita-delivery-content-navigation {
                            height: ~"calc(100% - 64px - (@{searchBarHeight} + @{navBarHeight}))";
                            top: @searchBarHeight + @navBarHeight;
                        }
                    }
                }
            }
        }
    }
}

// Screen resolution Small
@media screen and (max-width: @screenSm) {
    .sdl-dita-delivery-app {
        // Table of content navigation is open
        &.open {
            overflow: hidden;
            .sdl-dita-delivery-nav-mask {
                opacity: .5;
                display: block;
            }
        }
        // Search panel is open
        &.search-open {
            .sdl-dita-delivery-topbar {
                header > * {
                    display: none
                }
                .sdl-dita-delivery-topbar-expand-search {
                    display: inline-block;
                    flex-grow: 5;
                    margin: 0 15px;
                    span {
                        float: left;
                        .icon-back(21px);
                    }
                }
            }
            .sdl-dita-delivery-searchbar {
                transition: none;
                background: none;
                width: ~"calc(100% - 35px)";
                height: 50px;
                top: 0;
                left: 35px;
                z-index: 1000;
                .input-area {
                    margin-top: 0;
                    input {
                        .header-font(400, 18px, 18px);
                    }
                    .search-button {
                        .icon-search(21px);
                    }
                }
            }
        }
        .sdl-dita-delivery-topbar {
            .sdl-dita-delivery-topbar-expand-nav {
                display: block;
                order: -1;
            }
        }
        .sdl-dita-delivery-publication-content {
            .sdl-dita-delivery-page {
                .sdl-dita-delivery-navigation-menu {
                    nav.sdl-dita-delivery-toc {
                        height: 100%;
                    }
                }
            }
        }
    }
}
