@import (reference) "../../../theming/styles.less";
@import (reference) "../../presentation/styles/TopBar.less";
.sdl-dita-delivery-product-families-list {
    background-color: @neutralColor6;
    position: relative;
    .sdl-dita-delivery-tiles-list {
        max-width: @screenXl;
        .sdl-dita-delivery-tile {
            height: 190px;
            h3 {
                height: 60px;
            }
            .tile-content {
                text-align: center;
            }
        }
    }
}
