@import (reference) "../../../theming/styles.less";

.sdl-dita-delivery-publication-content {
    .sdl-dita-delivery-toc {
        position: fixed;
        top: 80px;
        left: 0;
        bottom: 0;
        width: 400px;
    }
    .sdl-dita-delivery-page {
        position: absolute;
        left: 400px;
        right: 0;
        bottom: 0;
        top: 30px;
    }
}
