@import (reference) "../../../theming/styles.less";
.sdl-dita-delivery-publication-content {
    display: flex;
    flex-flow: row;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 50px;

    .sdl-dita-delivery-toc {
        width: 400px;
        .sdl-treeview {
            padding-top: 15px;
        }
    }
    .sdl-dita-delivery-page {
        flex: 1 1 100%;
        .sdl-dita-delivery-breadcrumbs {
            padding-bottom: 15px;
        }
    }
}
