@import (reference) "../../../theming/styles.less";
@import (reference) "../../presentation/styles/TopBar.less";

.sdl-dita-delivery-publications-list {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;

    nav {
        min-height: 100px;

        ul {
            margin-top: 0;
            padding: 0 10px 0 0;

            li {
                background: fade(@accentColor2, 5%);
                display: block;
                padding: 10px 15px;
                margin-bottom: -1px;
                border: 1px solid @neutralColor5;
                border-left: 2px solid @accentColor1;

                a {
                    text-decoration: none;
                    color: @neutralColor1;
                    &:hover {
                        color: @accentColor2;
                    }
                }
            }
        }

    }
}

/*  For publications lists in mobile view there is no hamburger menu
    TODO: change it when we`ll have global state management, so the
    NavMenu control button will have a dependency on used control
*/
.sdl-dita-delivery-topbar {
    header {
        .sdl-dita-delivery-topbar-expand-nav {
            display: none;
        }
    }
}
