---
layout: src/templates/layouts/blank.hbs
---
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>	
	{{!-- MEDIAMANAGER --}}
	<!-- build:js(src) /system/assets/scripts/carousel.js -->
		<script src="/system/assets/scripts/carousel.js"></script>
	<!-- endbuild -->
	<!-- build:js(src) /system/assets/scripts/html5player.js -->
		<script src="/system/assets/scripts/html5player.js"></script>
	<!-- endbuild -->
	<!-- build:js(src) /system/assets/scripts/mmCustomEvents.js -->
		<script src="/system/assets/scripts/mmCustomEvents.js"></script>
	<!-- endbuild -->
	<!-- build:js(src) /system/assets/scripts/resolutionOverlay.js -->
		<script src="/system/assets/scripts/resolutionOverlay.js"></script>
	<!-- endbuild -->	
</body>
</html>
