@model SmartTargetRegion
<div @Html.DxaRegionMarkup()>
    @Html.Raw(Model.GetStartQueryXpmMarkup())
    @if (Model.HasSmartTargetContent)
    {
        // Model.Entities are ST Promotions. Render them with an appropriate View:
        foreach (SmartTargetPromotion promo in Model.Entities)
        {
            @Html.DxaEntity(promo, "SmartTarget:2-Column-Promotion")
        }
    }
    else
    {
        // Fallback content
        for (int i = 0; i < Math.Ceiling(Model.Entities.Count / 2.0); i++)
        {
        <div class="row">
            @for (int j = 0; j < 2 && (2 * i + j < Model.Entities.Count); j++)
            {
            <div class="col-sm-6">
                @Html.DxaEntity(Model.Entities[2 * i + j], containerSize: 6)
            </div>
            }
        </div>
        }
    }
</div>