@model CurrentUserWidget

<div class="btn-group open" style="padding: 5px 5px; margin: 2px 0 0; float: right;">
    @if(Model.IsLoggedIn)
    { 
        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> @Model.UserName</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="api/profile/logout"><i class="fa fa-sign-out fa-fw"></i> @Model.LogoutLabel</a></li>
        </ul>
    }
    else
    {
        <a class="btn btn-primary" href="@Model.LoginLink.Url"><i class="fa fa-user fa-fw"></i> @Model.LoginLabel</a>
    }
</div>
