@model CurrentUserWidget

@{
    if (Model.IsLoggedIn)
    {
        <div>Welcome <strong>@Model.UserName</strong> [ <a href="api/profile/logout">@Model.LogoutLabel</a> ]</div>
    }
    else
    {
        <a href="@Model.LoginLink.Url">@Model.LoginLink.LinkText</a>
    }
}
